#main_container{
    padding: 20px;
    padding-top: 10px;
    height: fit-content;
    width: fit-content;
    background-color: wheat;
    margin: auto;
}
select{
    margin-top: 10px;
}
input{
    margin-top: 10px;
}
#btn{
    min-width: 100px;
    width: 20%;
    margin: auto;
    margin-left: 40%;
    height:30px;
    background-color: maroon;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    color: white;
}
#header{
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: maroon;
}
#ans-box{
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 16px;
    font-size: 15px;
    background-color: #fff;
}